@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400&family=Vollkorn:ital,wght@0,700;0,900;1,400&display=swap");
:root {
  --primary-color: #2a4158;
  --white-color: white;
  --bg-color: #fff;
  /* --prefer-mode: "light"; */
  --alt-color: #f1f1f1;
}
html {
  scroll-behavior: smooth;
}
.dark-theme {
  filter: invert(90%) hue-rotate(180deg);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Vollkorn", serif;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  overflow: hidden;
}
.wrapper {
  scroll-behavior: smooth;
}
.body-cover {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  background-color: var(--bg-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='200' viewBox='0 0 160 80'%3E%3Cg fill='%23edece9' %3E%3Cpolygon points='0 10 0 0 10 0'/%3E%3Cpolygon points='0 40 0 30 10 30'/%3E%3Cpolygon points='0 30 0 20 10 20'/%3E%3Cpolygon points='0 70 0 60 10 60'/%3E%3Cpolygon points='0 80 0 70 10 70'/%3E%3Cpolygon points='50 80 50 70 60 70'/%3E%3Cpolygon points='10 20 10 10 20 10'/%3E%3Cpolygon points='10 40 10 30 20 30'/%3E%3Cpolygon points='20 10 20 0 30 0'/%3E%3Cpolygon points='10 10 10 0 20 0'/%3E%3Cpolygon points='30 20 30 10 40 10'/%3E%3Cpolygon points='20 20 20 40 40 20'/%3E%3Cpolygon points='40 10 40 0 50 0'/%3E%3Cpolygon points='40 20 40 10 50 10'/%3E%3Cpolygon points='40 40 40 30 50 30'/%3E%3Cpolygon points='30 40 30 30 40 30'/%3E%3Cpolygon points='40 60 40 50 50 50'/%3E%3Cpolygon points='50 30 50 20 60 20'/%3E%3Cpolygon points='40 60 40 80 60 60'/%3E%3Cpolygon points='50 40 50 60 70 40'/%3E%3Cpolygon points='60 0 60 20 80 0'/%3E%3Cpolygon points='70 30 70 20 80 20'/%3E%3Cpolygon points='70 40 70 30 80 30'/%3E%3Cpolygon points='60 60 60 80 80 60'/%3E%3Cpolygon points='80 10 80 0 90 0'/%3E%3Cpolygon points='70 40 70 60 90 40'/%3E%3Cpolygon points='80 60 80 50 90 50'/%3E%3Cpolygon points='60 30 60 20 70 20'/%3E%3Cpolygon points='80 70 80 80 90 80 100 70'/%3E%3Cpolygon points='80 10 80 40 110 10'/%3E%3Cpolygon points='110 40 110 30 120 30'/%3E%3Cpolygon points='90 40 90 70 120 40'/%3E%3Cpolygon points='10 50 10 80 40 50'/%3E%3Cpolygon points='110 60 110 50 120 50'/%3E%3Cpolygon points='100 60 100 80 120 60'/%3E%3Cpolygon points='110 0 110 20 130 0'/%3E%3Cpolygon points='120 30 120 20 130 20'/%3E%3Cpolygon points='130 10 130 0 140 0'/%3E%3Cpolygon points='130 30 130 20 140 20'/%3E%3Cpolygon points='120 40 120 30 130 30'/%3E%3Cpolygon points='130 50 130 40 140 40'/%3E%3Cpolygon points='120 50 120 70 140 50'/%3E%3Cpolygon points='110 70 110 80 130 80 140 70'/%3E%3Cpolygon points='140 10 140 0 150 0'/%3E%3Cpolygon points='140 20 140 10 150 10'/%3E%3Cpolygon points='140 40 140 30 150 30'/%3E%3Cpolygon points='140 50 140 40 150 40'/%3E%3Cpolygon points='140 70 140 60 150 60'/%3E%3Cpolygon points='150 20 150 40 160 30 160 20'/%3E%3Cpolygon points='150 60 150 50 160 50'/%3E%3Cpolygon points='140 70 140 80 150 80 160 70'/%3E%3C/g%3E%3C/svg%3E");
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}
.side-bar-left,
.side-bar-right {
  display: inline-flex;
  height: 100vh;
  width: max(10px, 2vw);
  background-color: var(--primary-color);
  position: fixed !important;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all 0.5s ease-out;
  z-index: 102;
}
.side-bar-left {
  left: 0;
}
.side-bar-right {
  display: none;
  right: 0;
}
header {
  display: flex;
  height: 15vh;
  width: 80vw;
  margin: 0 auto;
  background-color: var(--bg-color);
  align-items: center;
  justify-content: flex-end;
}
.nav-bar {
  display: flex;
  height: 15vh;
  width: 80vw;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--primary-color);
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.nav-bar ul li {
  list-style: none;
}

.nav-bar ul {
  display: flex;
  width: max(576px, 60%);
  align-items: center;
  justify-content: space-between;
}
.nav-bar ul li a {
  display: flex;
  text-decoration: none;
  color: inherit;
}
.title {
  display: flex;
  font-size: 1em;
  font-weight: 600;
  color: inherit;
  justify-content: center;
  align-items: center;
  position: relative;
  letter-spacing: 2px;
}
.title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--primary-color);
  transform: translate(-0.5em, -1em);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transition-delay: 100ms;
}
.title:hover::after {
  transform: translate(0, -1em);
  opacity: 1;
}

/* Connect details */
.connect-details {
  width: 100%;
}
.connect-details .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.connect-details .icon {
  color: var(--primary-color);
  font-size: 0.8em;
  line-height: 25px;
}
.connect-details .icon .text {
  color: var(--primary-color);
  margin-left: 0.2em;
  font-style: oblique;
}

/* Social Media */

.social-media {
  display: inline-flex;
  height: 100vh;
  width: 9vw;
  background-color: var(--bg-color);
  color: var(--primary-color);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 102;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: all 0.5s ease-out;
}
.social-media ul li {
  list-style: none;
}
.social-media ul li a {
  display: flex;
  text-decoration: none;
  color: var(--primary-color);
  transition: display 0.7s ease-in-out;
}
.social-media ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 50%;
  min-width: 50%;
  margin: 1em;
}
.social-media .social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  font-size: 1.2em;
  transition: all 0.5s ease-in-out;
  background-color: var(--bg-color);
  color: var(--primary-color);
}
.social-media .social-icon:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

/* Main content */
.main-content {
  width: 80vw;
  max-width: 1240px;
  height: 85vh;
  margin: 0 auto;
  background-color: var(--bg-color);
}
.name {
  /* outline: 3px solid seagreen; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.name-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 20%;
  align-items: center;
  justify-content: space-between;
}
.name-title {
  display: inline-block;
  text-transform: sentance;
  text-align: center;
  color: var(--primary-color);
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  letter-spacing: 8px;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.name-title:hover {
  letter-spacing: 11px;
}
.pitch-line {
  width: 60%;
  font-weight: 600;
  font-size: 0.8em;
  color: var(--primary-color);
  text-align: center;
}
.btn {
  background-color: var(--primary-color);
  border: none;
  outline: none;
  color: var(--white-color);
  padding: 0.5em 3em;
  cursor: pointer;
  font-size: 1em;
  position: relative;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
}
.btn::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--bg-color);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.5s ease-in-out;
}
.btn {
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
.btn:hover::before,
.btn:focus::before {
  transform: scaleX(1);
  color: var(--primary-color);
}
.btn:hover,
.btn:focus {
  color: var(--primary-color);
}
html {
  overflow-y: scroll;
  scrollbar-color: var(--primary-color) var(--bg-color);
}
::-webkit-scrollbar {
  background: var(--primary-color);
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    transparent,
    var(--primary-color),
    var(--primary-color)
  );
}
.theme {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 0.8em;
  padding: 5px;
  cursor: pointer;
  margin: 10px;
}
.theme span {
  pointer-events: none;
}
.color-contain {
  width: 140px;
  min-height: 100px;
  height: auto;
  background-color: var(--bg-color);
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 40px;
  left: 10px;
  border: 5px solid var(--primary-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.2s ease-in;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.color-contain div {
  margin: 5px;
}
.color-contain .light-mode {
  font-size: 0.7em;
  font-weight: 600;
  position: relative;
}
.color-contain .light-mode::before {
  content: "\f186";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
  color: var(--primary-color);
}
.color-contain .dark-mode::before {
  content: "\f185";
}
.c {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: yellowgreen;
}
.color-1,
.color-2,
.color-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.color-active {
  transform: scaleX(1);
}
.c1 {
  background-color: maroon;
}
.c2 {
  background-color: #bc7201;
}
.c3 {
  background-color: #02251e;
}
.c4 {
  background-color: #4d004c;
}
.c5 {
  background-color: #252a22;
}
.c6 {
  background-color: #666b3a;
}
.c7 {
  background-color: #523906;
}
.c8 {
  background-color: #132743;
}
.c9 {
  background-color: #2c003e;
}
html.transition,
html.transition *,
html.transitio *::after,
html.transition *::before {
  transition: all 500ms !important;
  transition-delay: 0s !important;
}
.top {
  display: inline-flex;
  width: max(25px, 2em);
  height: max(25px, 2em);
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: fixed;
  right: 60px;
  bottom: 10px;
  z-index: 102;
  color: var(--white-color);
  cursor: pointer;
  transform: translate(50%, 150%);
  font-size: 1.2em;
  transition: all 0.5s ease-in-out;
}
.top:hover {
  color: var(--primary-color);
  background-color: var(--bg-color);
}
.top-active {
  transform: translate(50%, 0%);
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --prefer-mode: "dark";
  }
} */

/* Animation part */

.nav-bar ul li {
  animation: nav-load 300ms ease-in forwards;
  opacity: 0;
}
@keyframes nav-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-content .name-title {
  transform: translateY(-30px);
  opacity: 0;
  animation: name-load 300ms ease-in forwards;
  animation-delay: 300ms;
}

@keyframes name-load {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.main-content .pitch-line {
  transform: translateY(-10px);
  opacity: 0;
  animation: pitch-ani 300ms ease-in forwards;
  animation-delay: 500ms;
}
.main-content button {
  transform: translateY(-10px);
  opacity: 0;
  animation: pitch-ani 300ms ease-in forwards;
  animation-delay: 500ms;
}
.main-content .connect-details {
  transform: translateY(-10px);
  opacity: 0;
  animation: pitch-ani 300ms ease-in forwards;
  animation-delay: 500ms;
}
@keyframes pitch-ani {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
