:root {
  --primary-color: #2b2e4a;
  --white-color: white;
}
.hamberger {
  height: 3rem;
  width: 3rem;
  left: 1rem;
  bottom: 1rem;
  position: fixed;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
