:root {
  --primary-color: #2b2e4a;
  --white-color: white;
}
.hamberger {
  /* outline: 2px solid red; */
  height: 1.2rem;
  width: 2rem;
  left: 1rem;
  top: 1rem;
  position: fixed;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.hamberger .main {
  background-color: var(--white-color);
  height: calc(2 * 0.1rem);
  border-radius: 5px;
  width: 2rem;
  transition: all 0.5s ease-in-out;
}
.hamberger .main::before,
.hamberger .main::after {
  content: "";
  background-color: var(--white-color);
  height: calc(2 * 0.1rem);
  width: 2rem;
  position: absolute;
  border-radius: 5px;
}
.hamberger .main::before {
  transform: translateY(-0.6rem);
}
.hamberger .main::after {
  transform: translateY(0.6rem);
}
.open .main {
  transform: translateX(1rem);
  background: transparent;
}
.open .main::before {
  transform: rotate(45deg);
}
.open .main::after {
  transform: rotate(-45deg);
}
